body {
   padding: 5px;
   font-family: Tahoma, Arial, Helvetica, sans-serif;
   font-size: 90%;
}

h1, h2, h3, h4 {
	color: #20AA6C;
   text-shadow: 1px 2px 1px #111;
   margin-top: 10px;
   margin-bottom: 5px;
   padding: 3px;
   border-bottom: 2px double #20AA6C;
}


h5 {
   text-shadow: 1px 2px 1px #111;
   margin-top: 12px;
   margin-bottom: 4px;
}

a:link {color: #308A7F;text-decoration: none;} 
a:visited {color: #308A7F;text-decoration: none;} 
a:hover {color: #3387D9;text-decoration: underline;}

#padded {
	padding: 10px;
	margin: 10px;
}

#titlebar h1 {
   text-align: center; 
   color: #20AA6C;
   text-shadow: 1px 2px 1px #111;
   margin-left: 0px;
   margin-right: 0px;
   margin-bottom: 10px;
   padding: 10px;
}
 

#sidebar {
	float: left;
	width: 200px;
	text-align: center;
	background: #cdc;
	border: 2px ridge #3A3;
	padding: 10px;
	margin-bottom: 20px;	
}

#footer {
	clear: both;
	width: 700px;
	margin: 0 auto;
        margin-top: 20px;
	padding: 5px;
        text-align: center;
	border-top: 1px solid #333;
}

li { 
	margin-left: 10px;
   padding: 6px;
}

.leftimg {
  margin: 10px;
  display:inline;
  float:left;
}

.rightimg {
  margin: 4px 4px 4px 4px;
  padding: 3px;
  display:inline;
  float:right;
}

 
